body {
    padding: 0;
    margin:0;
    padding-right: 15px;
    padding-bottom: 15px;
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.65fr 2fr 0.65fr;
    grid-gap: 12px 12px;
    justify-content: left;
}

/** COMMON **/

.box {
    border-radius: 15px;
}

.white {
    color: #FFF;
}

.black {
    color: black;
}

p {
    font-family: Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    font-weight: bold;
} 

h2 {
    font-family: Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
    text-decoration: underline;
}

ul {
    font-family: Helvetica, sans-serif;
    padding-left: 50px;
    padding-right: 20px;
}

.description-text{
    font-family: Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
    font-style: italic;
}

.institution {
    font-weight: bold;
}

.degree {
    font-style: italic;
}

ul#language-rating {
    list-style: none;
}

#language-rating li{
    display: block;
    width: 33%;
    float: left;
}

#language-rating i {
    color:  rgb(8, 33, 54);
    padding-right: 10px;
}

#language-rating .language{
    display: block;
    width: 150px;
}

.year {
    font-family: Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 85%;
}

/** SKILLS **/
#skills.box {
    grid-area: 1 / 2 / span 1 / span 2;
    border: 1px solid rgb(189, 183, 183);
    margin-top: 20px;
}

/** EDUCATION **/
#education.box {
    grid-area: 2 / 2 / span 1 / span 1;
    border: 1px solid rgb(189, 183, 183);
}


/** EXPERIENCE **/
#experience.box {
    grid-area: 2 / 3 / span 1 / span 1;
    border: 1px solid rgb(189, 183, 183);
}

#other {
    font-family: Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.75em; 
}
#other h3{
    font-family: Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
    text-decoration: underline;
}

/** INTRO **/

#intro.box {
    grid-area: 1 / 1 / span 3 / span 1;
    background-color: rgb(8, 33, 54);
    margin-top: 20px;
    margin-left: 20px;
}

#name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 25px;
    font-weight: bold;
    font-size: 30px;
}

#surname{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 25px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

#profile-picture{
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 0.90;
    background-color: #FFF;
}

#about {
    font-family: Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.85em;
    color: rgba(255, 255, 255, 0.5) ;
}

#social-media{
    font-family: Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    color: white;
    font-size: 1em;
}

ul#social-media{
    list-style: none;
}

#social-media li{
    float:left;
    padding-right: 25px;
    font-size: 30px;
}
a {
    color: #FFF;
}

#address {
    margin-top: 50px;
}

/** HOBBIES **/

#hobbies.box{
    grid-area: 3 / 2 / 4 / 4;
    border: 1px solid rgb(189, 183, 183);
}

.hobby{
    border-radius: 100%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
}

#hobby-picture{
    background-image: url('../img/hobby.jpg');
    background-size: 250px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    float: right;
    margin-right: 50px;
    margin-bottom: 40px;
}